@mixin horizontalRuler {
    @apply content-[''] block w-full h-px bg-accent-3;
}

.dialog {
    background:
            linear-gradient(var(--accent-1) 33%, rgba(255,255,255, 0)),
            linear-gradient(rgba(255,255,255, 0), var(--accent-1) 66%) 0 100%,
            radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 39px, 100% 39px, 100% 24px, 100% 24px;

    @apply fixed p-4 max-h-[90%] left-1/2 top-1/2 w-11/12 mobile:w-4/5 max-w-3xl bg-accent-1 rounded-lg shadow-lg overflow-auto z-30 shadow-xl;

    .title {
        @apply mt-0 text-white relative px-2 py-4 rounded z-10 bg-no-repeat bg-cover bg-center before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black/50 before:z-[-1] before:rounded;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-r-lg rounded-l-none;
    }

    &::-webkit-scrollbar-track {
        @apply shadow-none;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mb-2 mt-4;
    }

    h1 {
        @apply text-3xl;

        &:after {
            @include horizontalRuler;
            @apply mt-4 bg-white;
        }
    }

    h2 {
        @apply text-2xl;

        &:before {
            @include horizontalRuler;
            @apply mb-4;
        }
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    p {
        @apply mt-2;
    }

    ul {
        @apply mx-6 my-4;

        li {
            @apply list-disc;
        }
    }

    .twitter {
        @apply border-2 rounded-lg p-2 m-2;
    }

    .readFullStory {
        @apply block mt-2;
    }

    .noContentFound {
        @apply mt-0 mb-1;

        a {
           @apply block;
        }
    }
} 