body {
    #nprogress {
        position: relative;
        z-index: 20;

        .spinner {
            top: .45em;
            right: .15em;
            padding: 1em;
            pointer-events: none;
        }
    }
}
