body {
    #nprogress {
        position: relative;
        z-index: 20;

        .spinner {
            top: .25em;
            right: 0;
            padding: 1em;
            pointer-events: none;
        }

        .spinner-icon {
            width: 24px;
            height: 24px;
        }
    }
}
